---
import { Image } from "astro:assets";
import projectsHeader from "../../assets/projects/projects-header.jpg";

import ProjectCard from "../Reusable/ProjectCard.astro";

import { projects } from "src/data/projects/projects";
---

<section class="pt-22 mb-10">
    <div class="relative w-full h-[420px]">
        <Image src={projectsHeader} alt="Projects Header" class="w-full h-full object-cover"/>
        <!-- Overlay -->
        <div class="absolute inset-0 bg-black opacity-80"></div>
        <!-- Text -->
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 max-w-3xl text-center">
            <h1 class="lg:text-8xl text-5xl font-bold mb-2 animate-fade-right text-white">Projects</h1>
        </div>
    </div>
    <!-- Projects -->
    <div class="w-auto h-fit mt-30 pl-15 pr-15 xl:pl-50 xl:pr-50">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
            {projects.map(project => (
                <ProjectCard title={project.title} description={project.description} imageSrc={project.imageSrc} imageAlt={project.imageAlt} redirect={project.redirect}/>
            ))}
        </div>
    </div>
    <div class="w-full h-[1px] bg-gradient-to-r from-transparent via-[#e0aa20] to-transparent mt-30"></div>
</section>
