---
import { Image } from "astro:assets";
import "../styles/navbar.css";
import navLogo from "../assets/Logo - Alt.png";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faInstagram, faFacebook, faTiktok, faWhatsapp } from "@fortawesome/free-brands-svg-icons";
import { faChevronDown, faShoppingCart } from "@fortawesome/free-solid-svg-icons";

//Active, Not active state logic
const currPath = Astro.url.pathname;

const isActive = (href: string) => {
  if (href === "/") return currPath === "/"; //Init Home active on first load
  return currPath.startsWith(href);
};
---
<nav class="fixed top-0 left-0 w-full bg-[#161616] shadow-md z-50">
  <div class="flex items-center justify-between w-full py-5 px-4 relative">
    <!-- Logo -->
    <div class="flex items-center gap-4 ml-16 mr-4 lg:mr-0">
      <a href="/" aria-label="Go to homepage">
        <Image src={navLogo} alt="Navbar Logo" class="w-[48px] h-[48px] cursor-pointer" />
      </a>
      <!-- Branding (text visible only on desktop) -->
      <div class="flex-col items-center justify-center leading-tight cursor-pointer mt-1 hidden xl:flex">
        <a href="/" aria-label="Go to homepage">
          <h1 class="lg:text-2xl text-xl font-extrabold tracking-widest" style="font-family: 'Overpass', sans-serif;">
            ALUN-ALUN
          </h1>
          <span class="lg:text-sm text-xs tracking-[0.345em]" style="font-family: 'Overpass', sans-serif;">
            KONSTRUKSI
          </span>
        </a>
      </div>
    </div>
    <!-- Hamburger Icon -->
    <button class="lg:hidden block text-white cursor-pointer" id="menu-toggle" aria-label="Toggle Menu">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
    <!-- Sidebar -->
    <aside id="sidebar" class="fixed top-0 left-0 h-full w-64 bg-[#161616] shadow-lg z-40 transform -translate-x-full transition-transform duration-300 ease-in-out lg:hidden">
      <div class="flex flex-col h-full">
        <div class="p-6 flex items-center gap-3">
          <!-- Navigation Links -->
          <nav class="flex-1">
            <ul class="flex flex-col gap-4 px-6">
              <li class="cursor-pointer"><a href="/" class={`px-2 py-1 rounded transition ${isActive("/") ? "bg-[#e0aa20] text-black" : "text-white hover:bg-[#e0aa20] hover:text-black"}`}>Home</a></li>
              <li class="cursor-pointer"><a href="/about" class={`px-2 py-1 rounded transition ${isActive("/about") ? "bg-[#e0aa20] text-black" : "text-white hover:bg-[#e0aa20] hover:text-black"}`}>About Us</a></li>
              <li class="cursor-pointer"><a href="/projects" class={`px-2 py-1 rounded transition ${isActive("/projects") ? "bg-[#e0aa20] text-black" : "text-white hover:bg-[#e0aa20] hover:text-black"}`}>Projects</a></li>
              <li class="cursor-pointer"><a href="/services" class={`px-2 py-1 rounded transition ${isActive("/services") ? "bg-[#e0aa20] text-black" : "text-white hover:bg-[#e0aa20] hover:text-black"}`}>Services</a></li>
              <!-- Dropdown menu -->
              <li class={`relative group px-2 py-1 rounded transition-colors duration-100 ease-in-out cursor-pointer ${isActive("/products") ? "bg-[#e0aa20] text-black" : "hover:bg-[#e0aa20] hover:text-black"}`}>
                <div class="inline-flex items-center gap-1">
                  <a href="/products">Products</a><FontAwesomeIcon icon={faChevronDown} className="text-xs"/>
                </div>
                <!-- Submenu -->
                <ul class="absolute left-0 mt-1 w-48 bg-[#161616] rounded-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 ease-in-out shadow-lg">
                  <li>
                    <a href="/products/pasir-semen" class={`block px-4 py-2 font-medium rounded-tl-lg rounded-tr-lg ${isActive("/products/pasir-semen") ? "bg-[#e0aa20] text-black" : "text-white hover:bg-[#e0aa20] hover:text-black"}`}>Pasir dan Semen</a>
                  </li>
                  <li>
                    <a href="/products/baja-finishing" class={`block px-4 py-2 font-medium rounded-bl-lg rounded-br-lg ${isActive("/products/baja-finishing") ? "bg-[#e0aa20] text-black" : "text-white hover:bg-[#e0aa20] hover:text-black"}`}>Baja dan Finishing</a>
                  </li>
                </ul>
              </li> 
              <li class="cursor-pointer"><a href="/contact" class={`px-2 py-1 rounded transition ${isActive("/contact") ? "bg-[#e0aa20] text-black" : "text-white hover:bg-[#e0aa20] hover:text-black"}`}>Contact Us</a></li>
            </ul>
          </nav>
          <!-- Social Media -->
          <div class="flex flex-col gap-2 px-6 pb-6 text-lg">
            <a href="https://www.tiktok.com/@constructa.id" target="_blank" rel="noopener noreferrer">
              <FontAwesomeIcon icon={faTiktok} className="text-white hover:text-[#69c9d0]"/>
            </a>
            <a href="https://www.instagram.com/constructa00?igsh=dnljd2VvZjNxbHFh%20" target="_blank" rel="noopener noreferrer">
              <FontAwesomeIcon icon={faInstagram} className="text-white hover:text-[#e1306c]"/>
            </a>  
            <a href="https://www.facebook.com/share/16NxgrKjf5/" target="_blank" rel="noopener noreferrer">
              <FontAwesomeIcon icon={faFacebook} className="text-white hover:text-[#1877f2]"/>
            </a> 
            <a href="https://wa.link/3xky5c" target="_blank" rel="noopener noreferrer">
              <FontAwesomeIcon icon={faWhatsapp} className="text-white hover:text-[#25D366]"/>
            </a>
            <a href="/cart" class="relative inline-block">
              <FontAwesomeIcon icon={faShoppingCart} className="text-white hover:text-[#e0aa20]"/>
              <span id="cartCount1" class="cart-count absolute -top-2 -right-2 bg-[#e0aa20] text-black text-xs font-bold w-5 h-5 rounded-full flex items-center justify-center">
                0
              </span>
            </a>
          </div>
        </div>
      </div>
    </aside>
    <!-- Menu -->
    <ul class="hidden lg:flex flex-row gap-2 py-1 px-1 rounded-lg font-semibold border border-[#e0aa20] text-sm items-center w-full max-w-fit mx-auto bg-transparent" id="navbar-menu">
      <li class={`px-4 py-2 rounded transition-colors ease-in-out cursor-pointer ${isActive("/") ? "bg-[#e0aa20] text-black" : "hover:bg-[#e0aa20] hover:text-black"}`}><a href="/">Home</a></li>
      <li class={`px-4 py-2 rounded transition-colors ease-in-out cursor-pointer ${isActive("/about") ? "bg-[#e0aa20] text-black" : "hover:bg-[#e0aa20] hover:text-black"}`}><a href="/about">About Us</a></li>
      <li class={`px-4 py-2 rounded transition-colors ease-in-out cursor-pointer ${isActive("/projects") ? "bg-[#e0aa20] text-black" : "hover:bg-[#e0aa20] hover:text-black"}`}><a href="/projects">Projects</a></li>
      <li class={`px-4 py-2 rounded transition-colors ease-in-out cursor-pointer ${isActive("/services") ? "bg-[#e0aa20] text-black" : "hover:bg-[#e0aa20] hover:text-black"}`}><a href="/services">Services</a></li>
      <!-- Dropdown menu -->
      <li class={`relative group px-4 py-2 rounded transition-colors duration-100 ease-in-out cursor-pointer ${isActive("/products") ? "bg-[#e0aa20] text-black" : "hover:bg-[#e0aa20] hover:text-black"}`}>
        <div class="inline-flex gap-1 items-center cursor-pointer">
          <a href="/products">Products</a>
          <FontAwesomeIcon icon={faChevronDown} className="text-xs"/>
        </div>
        <!-- Submenu -->
        <ul class="absolute left-0 mt-5 w-48 bg-[#161616] rounded-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 ease-in-out shadow-lg">
          <li>
            <a href="/products/pasir-semen" class={`block px-4 py-2 font-medium rounded-tl-lg rounded-tr-lg ${isActive("/products/pasir-semen") ? "bg-[#e0aa20] text-black" : "text-white hover:bg-[#e0aa20] hover:text-black"}`}>Pasir dan Semen</a>
          </li>
          <li>
            <a href="/products/baja-finishing" class={`block px-4 py-2 font-medium rounded-bl-lg rounded-br-lg ${isActive("/products/baja-finishing") ? "bg-[#e0aa20] text-black" : "text-white hover:bg-[#e0aa20] hover:text-black"}`}>Baja dan Finishing</a>
          </li>
        </ul>
      </li> 
      <li class={`px-4 py-2 rounded transition-colors ease-in-out cursor-pointer ${isActive("/contact") ? "bg-[#e0aa20] text-black" : "hover:bg-[#e0aa20] hover:text-black"}`}><a href="/contact">Contact Us</a></li>
    </ul>
    <!-- Social Media -->
    <div class="xl:flex xl:gap-4 xl:mr-16 hidden text-white ml-4 mr-16 text-lg lg:grid lg:grid-cols-2 lg:gap-2 lg:mr-2">
      <a href="https://www.tiktok.com/@constructa.id" target="_blank" rel="noopener noreferrer">
        <FontAwesomeIcon icon={faTiktok} className="text-white hover:text-[#69c9d0]"/>
      </a>
      <a href="https://www.instagram.com/constructa00?igsh=dnljd2VvZjNxbHFh%20" target="_blank" rel="noopener noreferrer">
        <FontAwesomeIcon icon={faInstagram} className="text-white hover:text-[#e1306c]"/>
      </a>  
      <a href="https://www.facebook.com/share/16NxgrKjf5/" target="_blank" rel="noopener noreferrer">
        <FontAwesomeIcon icon={faFacebook} className="text-white hover:text-[#1877f2]"/>
      </a> 
      <a href="https://wa.link/3xky5c" target="_blank" rel="noopener noreferrer">
        <FontAwesomeIcon icon={faWhatsapp} className="text-white hover:text-[#25D366]"/>
      </a>
      <p class="lg:text-lg text-sm font-semibold">|</p>
      <a href="/cart" class="relative inline-block">
        <FontAwesomeIcon icon={faShoppingCart} className="text-white hover:text-[#e0aa20]"/>
        <span id="cartCount2" class="cart-count absolute -top-2 -right-2 bg-[#e0aa20] text-black text-xs font-bold w-5 h-5 rounded-full flex items-center justify-center">
          0
        </span>
      </a>
    </div>
  </div>  
</nav>

<script>
  import { updateCartCount } from "src/utils/cartUtils";

  document.addEventListener('DOMContentLoaded', function () {
    const menuToggle = document.getElementById('menu-toggle');
    const sidebar = document.getElementById('sidebar');

    if (menuToggle && sidebar) {
      menuToggle.addEventListener('click', () => {
        document.body.classList.toggle('menu-active');
        sidebar.classList.toggle('-translate-x-full');
        sidebar.classList.toggle('translate-x-0');
      });
    }
    
    updateCartCount();
  });
</script>