---
import { Image } from "astro:assets";
import "../styles/navbar.css";
import navLogo from "../assets/Logo - Alt.png";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faInstagram, faFacebook, faTiktok, faWhatsapp } from "@fortawesome/free-brands-svg-icons";
import { faChevronDown } from "@fortawesome/free-solid-svg-icons";
---
<nav class="fixed top-0 left-0 w-full bg-[#161616] shadow-md z-50">
  <div class="flex items-center justify-between w-full py-5 px-4 relative">
    <!-- Logo -->
    <div class="flex items-center gap-4 ml-16 mr-4 lg:mr-2">
      <a href="/" aria-label="Go to homepage">
        <Image src={navLogo} alt="Navbar Logo" width={48} height={48} class="cursor-pointer" />
      </a>
      <!-- Branding (text visible only on desktop) -->
      <div class="flex-col leading-tight cursor-pointer mt-1 hidden xl:flex">
        <a href="/" aria-label="Go to homepage">
          <h1 class="text-xl md:text-sm tracking-[0.425em] font-extrabold" style="font-family: 'Heading Now', sans-serif;">
            WAHYUDI
          </h1>
          <span class="text-xs tracking-[0.35em] uppercase" style="font-family: 'Heading Now', sans-serif;">
            Construction
          </span>
        </a>
      </div>
    </div>
    <!-- Hamburger Icon -->
    <button class="lg:hidden block text-white cursor-pointer" id="menu-toggle" aria-label="Toggle Menu">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
    <!-- Sidebar -->
    <aside id="sidebar" class="fixed top-0 left-0 h-full w-64 bg-[#161616] shadow-lg z-40 transform -translate-x-full transition-transform duration-300 ease-in-out lg:hidden">
      <div class="flex flex-col h-full">
        <div class="p-6 flex items-center gap-3">
          <!-- Navigation Links -->
          <nav class="flex-1">
            <ul class="flex flex-col gap-4 px-6">
              <li><a href="/" class="px-2 py-1 text-white hover:bg-[#e0aa20] hover:text-black rounded transition">Home</a></li>
              <li><a href="/about" class="px-2 py-1 text-white hover:bg-[#e0aa20] hover:text-black rounded transition">About Us</a></li>
              <li><a href="/projects" class="px-2 py-1 text-white hover:bg-[#e0aa20] hover:text-black rounded transition">Projects</a></li>
              <li><a href="/services" class="px-2 py-1 text-white hover:bg-[#e0aa20] hover:text-black rounded transition">Services</a></li>
              <!-- Dropdown menu -->
              <li class="relative group px-2 py-1 rounded hover:bg-[#e0aa20] hover:text-black transition-colors duration-100 ease-in-out">
                <div class="inline-flex gap-1">
                  <a href="#">Products</a><FontAwesomeIcon icon={faChevronDown} className="mt-1 text-sm"/>
                </div>
                <!-- Submenu -->
                <ul class="absolute left-0 mt-5 w-48 bg-[#161616] rounded-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 ease-in-out shadow-lg">
                  <li>
                    <a href="/products/pasir-semen" class="block px-4 py-2 text-white font-medium hover:bg-[#e0aa20] hover:text-black rounded-tl-lg rounded-tr-lg">Pasir dan Semen</a>
                  </li>
                  <li>
                    <a href="/products/baja-finishing" class="block px-4 py-2 text-white font-medium hover:bg-[#e0aa20] hover:text-black rounded-bl-lg rounded-br-lg">Baja dan Finishing</a>
                  </li>
                </ul>
              </li> 
              <li><a href="/testimonies" class="px-2 py-1 text-white hover:bg-[#e0aa20] hover:text-black rounded transition">Testimonies</a></li>
              <li><a href="/contact" class="px-2 py-1 text-white hover:bg-[#e0aa20] hover:text-black rounded transition">Contact Us</a></li>
            </ul>
          </nav>
          <!-- Social Media -->
          <div class="flex flex-col gap-2 px-6 pb-6 text-lg">
            <a href="https://www.tiktok.com/@constructa.id" target="_blank" rel="noopener noreferrer">
              <FontAwesomeIcon icon={faTiktok} className="text-white hover:text-[#69c9d0]"/>
            </a>
            <a href="https://www.instagram.com/constructa00?igsh=dnljd2VvZjNxbHFh%20" target="_blank" rel="noopener noreferrer">
              <FontAwesomeIcon icon={faInstagram} className="text-white hover:text-[#e1306c]"/>
            </a>  
            <a href="https://www.facebook.com/share/16NxgrKjf5/" target="_blank" rel="noopener noreferrer">
              <FontAwesomeIcon icon={faFacebook} className="text-white hover:text-[#1877f2]"/>
            </a> 
            <a href="https://wa.link/3xky5c" target="_blank" rel="noopener noreferrer">
              <FontAwesomeIcon icon={faWhatsapp} className="text-white hover:text-[#25D366]"/>
            </a>
          </div>
        </div>
      </div>
    </aside>
    <!-- Menu -->
    <ul class="hidden lg:flex flex-row gap-2 py-1 px-1 rounded-lg font-semibold border border-[#e0aa20] text-sm items-center w-full max-w-fit mx-auto bg-transparent" id="navbar-menu">
      <li class="px-4 py-2 rounded hover:bg-[#e0aa20] hover:text-black transition-colors ease-in-out"><a href="/">Home</a></li>
      <li class="px-4 py-2 rounded hover:bg-[#e0aa20] hover:text-black transition-colors ease-in-out"><a href="/about">About Us</a></li>
      <li class="px-4 py-2 rounded hover:bg-[#e0aa20] hover:text-black transition-colors ease-in-out"><a href="/projects">Projects</a></li>
      <li class="px-4 py-2 rounded hover:bg-[#e0aa20] hover:text-black transition-colors ease-in-out"><a href="/services">Services</a></li>
      <!-- Dropdown menu -->
      <li class="relative group px-4 py-2 rounded hover:bg-[#e0aa20] hover:text-black transition-colors duration-100 ease-in-out">
        <a href="/products">Products</a>
        <!-- Submenu -->
        <ul class="absolute left-0 mt-5 w-48 bg-[#161616] rounded-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 ease-in-out shadow-lg">
          <li>
            <a href="/products/pasir-semen" class="block px-4 py-2 text-white font-medium hover:bg-[#e0aa20] hover:text-black rounded-tl-lg rounded-tr-lg">Pasir dan Semen</a>
          </li>
          <li>
            <a href="/products/baja-finishing" class="block px-4 py-2 text-white font-medium hover:bg-[#e0aa20] hover:text-black rounded-bl-lg rounded-br-lg">Baja dan Finishing</a>
          </li>
        </ul>
      </li> 
      <li class="px-4 py-2 rounded hover:bg-[#e0aa20] hover:text-black transition-colors duration-100 ease-in-out"><a href="/testimonies">Testimonies</a></li>
      <li class="px-4 py-2 rounded hover:bg-[#e0aa20] hover:text-black transition-colors duration-100 ease-in-out"><a href="/contact">Contact Us</a></li>
    </ul>
    <!-- Social Media -->
    <div class="xl:flex xl:gap-4 hidden text-white ml-4 mr-16 text-lg lg:grid lg:grid-cols-2 lg:gap-2 lg:mr-2">
      <a href="https://www.tiktok.com/@constructa.id" target="_blank" rel="noopener noreferrer">
        <FontAwesomeIcon icon={faTiktok} className="text-white hover:text-[#69c9d0]"/>
      </a>
      <a href="https://www.instagram.com/constructa00?igsh=dnljd2VvZjNxbHFh%20" target="_blank" rel="noopener noreferrer">
        <FontAwesomeIcon icon={faInstagram} className="text-white hover:text-[#e1306c]"/>
      </a>  
      <a href="https://www.facebook.com/share/16NxgrKjf5/" target="_blank" rel="noopener noreferrer">
        <FontAwesomeIcon icon={faFacebook} className="text-white hover:text-[#1877f2]"/>
      </a> 
      <a href="https://wa.link/3xky5c" target="_blank" rel="noopener noreferrer">
        <FontAwesomeIcon icon={faWhatsapp} className="text-white hover:text-[#25D366]"/>
      </a>
    </div>
  </div>  
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const menuToggle = document.getElementById('menu-toggle');
    const sidebar = document.getElementById('sidebar');

    if (menuToggle && sidebar) {
      menuToggle.addEventListener('click', () => {
        document.body.classList.toggle('menu-active');
        sidebar.classList.toggle('-translate-x-full');
        sidebar.classList.toggle('translate-x-0');
      });
    }
  });
</script>